body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; /* Hide all slides by default */
}

.slide img {
    width: 100%; /* Make images responsive */
    height: auto;
}

.fade {
    animation: fade 5.5s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity:6; }
}
